.aside {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-arround ;
  width: 450px; 
  height: auto; 
}

.aside h1 {
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
}

.aside h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.aside ul {
  list-style: none;
  padding-left: 0;
}

.aside li {
  margin-bottom: 8px;
}

.aside a {
  text-decoration: none;
  color: #555;
  transition: color 0.2s;
  font-family: 'Josefin Sans', sans-serif;
}

.aside a:hover {
  color: #000
}
