@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');

.intro-section{
  margin-top: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
}

.intro-section h2{
  font-size: 30px;
}