@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');

header {
  background-color: #a1c1be;
  color: white;
  padding: 10px;
  border-bottom: 4px solid #59554e; 
}

header h1{
  font-family: 'Rubik Wet Paint', cursive;
}

.header-principal h1{
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 40px;
}