@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');

*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e2e3d9;
  /*
  color1: #e2e3d9
  colo2: #ffffff
  color3: #a1c1be
  color4: #59554e
  color5: #f3f4e5
  */
}

.App {
  text-align: center;
  padding: 20px;
}

