@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Wet+Paint&display=swap');

section {
  margin-top: 20px;
  color: #000;
  display: flex;
  flex-direction: row;
  
  .navigation-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  margin-top: 20px;
}

section h2{
  font-family: 'Josefin Sans', sans-serif;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  margin-top: 20px;
}


.navigation-links h3 {
  margin: 8px 0;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none !important;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
}

.navigation-links h3:hover {
  color: #a1c1be;
}

.navigation-links h3 {
  /* ... outros estilos ... */
  text-decoration: none; /* Remova !important */
}

/* Adicione uma classe específica para remover sublinhado */
.no-underline {
  text-decoration: none;
}

.nav_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px; /* Ajuste o tamanho da caixa conforme necessário */
  height: 238px; /* Ajuste o tamanho da caixa conforme necessário */
  background-color: #111; /* Cor de fundo azul */
  border-radius: 10px; /* Borda arredondada */
  margin: 20px;
  margin-bottom: 5px;
  padding: 2rem;  
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff; /* Cor do texto */
  box-sizing: border-box;
}

.nav_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 238px; /* Ajuste o tamanho da caixa conforme necessário */
  height: 238px; /* Ajuste o tamanho da caixa conforme necessário */
  background-color: #111;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 5px;
  padding: 2rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.nav_box:before,
.nav_box:after {
  /* Mova as regras em comum aqui */
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.nav_box:before {
  /* Mova as regras específicas do brilho aqui */
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  top: -2px;
  left: -2px;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav_box:hover:before {
  opacity: 1;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}